/*
 * https://webaim.org/techniques/css/invisiblecontent/
 * https://www.a11yproject.com/posts/how-to-hide-content/
 * https://stackoverflow.com/questions/62107074/how-to-hide-a-text-and-make-it-accessible-by-screen-reader
 */
.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(
    1px,
    1px,
    1px,
    1px
  ); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(
    50%
  ); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.text-center {
  text-align: center;
}

.social-icon svg {
  height: 1em; /* Sets height relative to parent font size */
}

.social {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}

.pt-2 {
  padding-top: 2em;
}

.human-made-logo {
  max-height: 4em;
  width: auto;
}

.only-on-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .only-on-dark,
  img {
    display: inline;
  }

  .only-on-light {
    display: none;
  }
}

.project-image {
  max-height: 300px;
  width: auto;
}

.project-footer {
  display: flex;
  justify-content: space-between;
}
.project-youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.project-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
